.my-grades-title {
  font-size: 30px;
}

.my-grade-container {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.circle {
  border: 2px solid white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}